{{ define "find-concept-uid" }}
{{ if .Context }}
{
  concept(func: regexp(title, /{{.Title}}/i) @filter(has(context))) {
    _uid_
   context @filter(func: regexp(title, /{{.Context.Title}}/i))
  }
}
{{ else }}
{
  concept(func: regexp(title, /{{.Title}}/i)) {
    _uid_
  }
}
{{ end }}
{{ end }}
    
