{{define "top-bar"}}
<div class="top-bar">
  <div class="top-bar-inner">
    <div class="pull-left">
      <input id="top-bar-search" type="text" placeholder="Search concepts" />
    </div>
    <div class="pull-right">
      <a class="username">username</a>
    </div>
  </div>
</div>
{{end}}
